@media screen and (max-width: 900px) {
  .app-carousel {
    padding: 0;
  }
  .app-carousel__img-container {
    margin: auto;
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .app__main-title {
    text-align: left;
    font-size: 20px;
    margin: 15px 15px 30px;
  }
  .app-carousel__img-container p{
    font-size: 15px;
  }
  .app-carousel-close {
    top: 10px;
  }
  .app__main-section {
    padding: 4px 5px 20px;
  }
  .img-container {
    height: 250px;
  }
  .app-carousel__img-container {
    width: 84%;
  }
  .app-carousel__img {
    height: 250px;
  }
  .app-carousel i {
    font-size: 16px;
    margin: 0 5px;
  }
  .fa-angles-left{
    left: 0;
  }
  .fa-angles-right{
    right: 0;
  }
}
